iAlarm-14zone-controllo-sensori.json
[
    {
        "id": "3782d2fb.6e5bde",
        "type": "tab",
        "label": "iAlarm",
        "disabled": false,
        "info": ""
    },
    {
        "id": "423bda5c.3f44b4",
        "type": "function",
        "z": "3782d2fb.6e5bde",
        "name": "increment counter",
        "func": "if ( (msg.i += 1) < msg.items.zones.length ) return msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 370,
        "y": 660,
        "wires": [
            [
                "ca813d7e.a59ce"
            ]
        ]
    },
    {
        "id": "ca813d7e.a59ce",
        "type": "function",
        "z": "3782d2fb.6e5bde",
        "name": "for each zone",
        "func": "if ( msg.i === undefined ) msg.i = 0;\nif ( msg.items === undefined ) msg.items = msg.payload;\n\n    msg.id = msg.items.zones[msg.i].id\n    msg.topic = 'home/alarm/zone' + msg.id + '/state';\n    msg.payload = JSON.stringify(msg.items.zones[msg.i]);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 580,
        "wires": [
            [
                "423bda5c.3f44b4",
                "285667ed.6682d8"
            ]
        ]
    },
    {
        "id": "14905939.416487",
        "type": "function",
        "z": "3782d2fb.6e5bde",
        "name": "set enabled zones",
        "func": "msg.enabled = [,1,2,3,4,5,6,7,8,9,10,11,12,13,14];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 370,
        "y": 500,
        "wires": [
            [
                "ca813d7e.a59ce"
            ]
        ]
    },
    {
        "id": "285667ed.6682d8",
        "type": "function",
        "z": "3782d2fb.6e5bde",
        "name": "check enabled",
        "func": "if (msg.enabled.includes(msg.id)) {\n    \n    var memoryMsg = global.get(msg.id.toString());\n    var newMsg = msg.items.zones[msg.i];\n    \nnode.warn(newMsg);\n   \n    node.warn(\"sensor \" + msg.id + ' - OLD_OPEN = ' + memoryMsg.open + \" --> \" + 'NEW_OPEN = ' + newMsg.open);\n    node.warn(\"sensor \" + msg.id + ' - OLD_LOWBAT = ' + memoryMsg.lowbat + \" --> \" + 'NEW_LOWBAT = ' + newMsg.lowbat);    \n    node.warn(\"sensor \" + msg.id + ' - OLD_OK = ' + memoryMsg.ok + \" --> \" + 'NEW_OK = ' + newMsg.ok);\n    \n    if ( memoryMsg.open != newMsg.open || memoryMsg.lowbat != newMsg.lowbat || memoryMsg.ok != newMsg.ok ) {\n        \n        global.set(msg.id.toString(), msg.items.zones[msg.i] );\n\n        return msg;\n        \n    }\n\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 620,
        "y": 500,
        "wires": [
            [
                "f0eef730.c1a5d8",
                "31f47d70.43a5a2",
                "77493328.9458bc",
                "c1b992aa.7c85c",
                "2416b43d.14112c",
                "d96e420d.bdf52",
                "d59d8c51.f46c4",
                "bdcf3820.f54618",
                "a0705735.2c5c28",
                "b8b57d2b.b3d5d",
                "3978bd3.4020442",
                "e05b1140.9fead",
                "9bca4be9.462978",
                "3d4dc8f1.4d31c8"
            ]
        ]
    },
    {
        "id": "cd9355e2.dd5758",
        "type": "ialarm status",
        "z": "3782d2fb.6e5bde",
        "server": "617ddfd5.c639a",
        "waitnames": true,
        "x": 130,
        "y": 380,
        "wires": [
            [
                "14905939.416487",
                "40dc0e29.fca95"
            ]
        ]
    },
    {
        "id": "d431c464.14d7a8",
        "type": "inject",
        "z": "3782d2fb.6e5bde",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "cd9355e2.dd5758",
                "bc864d4a.8d1a"
            ]
        ]
    },
    {
        "id": "bc864d4a.8d1a",
        "type": "ialarm events",
        "z": "3782d2fb.6e5bde",
        "server": "617ddfd5.c639a",
        "x": 180,
        "y": 60,
        "wires": [
            [
                "74fc08f0.aa85b8",
                "ad2c5218.eddfd",
                "ed0f7069.d17d1"
            ]
        ]
    },
    {
        "id": "f0eef730.c1a5d8",
        "type": "change",
        "z": "3782d2fb.6e5bde",
        "name": "zona1",
        "rules": [
            {
                "t": "change",
                "p": "msg.items.zones[0].open",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[0].open",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[0].lowbat",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[0].lowbat",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[0].ok",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[0].ok",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 80,
        "wires": [
            [
                "76a00476.1a8ffc",
                "f5c03cc0.1e3c7",
                "3acde234.f33d8e"
            ]
        ]
    },
    {
        "id": "76a00476.1a8ffc",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "stato taverna 1",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "stato taverna 1"
            },
            {
                "property": "device_class",
                "value": "window"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[0].open",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1180,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "31f47d70.43a5a2",
        "type": "change",
        "z": "3782d2fb.6e5bde",
        "name": "zona2",
        "rules": [
            {
                "t": "change",
                "p": "msg.items.zones[1].open",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[1].open",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[1].lowbat",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[1].lowbat",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[1].ok",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[1].ok",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 260,
        "wires": [
            [
                "d2b8ef2c.06b23",
                "4cb984d9.8ba2cc",
                "b50a2588.a5d2b8"
            ]
        ]
    },
    {
        "id": "d2b8ef2c.06b23",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "stato taverna 2",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": true,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "stato taverna 2"
            },
            {
                "property": "device_class",
                "value": "window"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[1].open",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1180,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "77493328.9458bc",
        "type": "change",
        "z": "3782d2fb.6e5bde",
        "name": "zona3",
        "rules": [
            {
                "t": "change",
                "p": "msg.items.zones[2].open",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[2].open",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[2].lowbat",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[2].lowbat",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[2].ok",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[2].ok",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 440,
        "wires": [
            [
                "8866f45b.a68e78",
                "767ea99e.981ba8",
                "a14900bf.b24d4"
            ]
        ]
    },
    {
        "id": "8866f45b.a68e78",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "stato lavanderia",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "stato lavanderia"
            },
            {
                "property": "device_class",
                "value": "door"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[2].open",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1180,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "c1b992aa.7c85c",
        "type": "change",
        "z": "3782d2fb.6e5bde",
        "name": "zona4",
        "rules": [
            {
                "t": "change",
                "p": "msg.items.zones[3].open",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[3].open",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[3].lowbat",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[3].lowbat",
                "pt": "msg",
                "from": "true ",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[3].ok",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[3].ok",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 620,
        "wires": [
            [
                "fbb3285d.558198",
                "2603083a.626cf8",
                "4bea914e.47a52"
            ]
        ]
    },
    {
        "id": "fbb3285d.558198",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "stato garage",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "stato garage"
            },
            {
                "property": "device_class",
                "value": "door"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[3].open",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1170,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "2416b43d.14112c",
        "type": "change",
        "z": "3782d2fb.6e5bde",
        "name": "zona5",
        "rules": [
            {
                "t": "change",
                "p": "msg.items.zones[4].open",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[4].open",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[4].lowbat",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[4].lowbat",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[4].ok",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[4].ok",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 800,
        "wires": [
            [
                "97f8798f.73e7b8",
                "4c1035fc.8a28ec",
                "f2c025cd.1355b8"
            ]
        ]
    },
    {
        "id": "d96e420d.bdf52",
        "type": "change",
        "z": "3782d2fb.6e5bde",
        "name": "zona6",
        "rules": [
            {
                "t": "change",
                "p": "msg.items.zones[5].open",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[5].open",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[5].lowbat",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[5].lowbat",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[5].ok",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[5].ok",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 980,
        "wires": [
            [
                "71e96f54.90b41",
                "27de6835.267a88",
                "ec2aeb7f.5ba4f8"
            ]
        ]
    },
    {
        "id": "d59d8c51.f46c4",
        "type": "change",
        "z": "3782d2fb.6e5bde",
        "name": "zona7",
        "rules": [
            {
                "t": "change",
                "p": "msg.items.zones[6].open",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[6].open",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[6].lowbat",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[6].lowbat",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[6].ok",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[6].ok",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 1160,
        "wires": [
            [
                "f78d1f43.7cd94",
                "5a1bfb15.37ace4",
                "510fcea0.790ef"
            ]
        ]
    },
    {
        "id": "74fc08f0.aa85b8",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "Ultimo Evento Allarme",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "ultimo evento"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:security"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload[0].message",
        "stateType": "msg",
        "attributes": [
            {
                "property": "Sensore",
                "value": "payload[0].name",
                "valueType": "msg"
            },
            {
                "property": "Data",
                "value": "payload[0].date",
                "valueType": "msg"
            },
            {
                "property": "Messaggio",
                "value": "payload[0].message",
                "valueType": "msg"
            }
        ],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 540,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "ad2c5218.eddfd",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "Penultimo Evento Allarme",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "penultimo evento"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:security"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload[1].message",
        "stateType": "msg",
        "attributes": [
            {
                "property": "Sensore",
                "value": "payload[1].name",
                "valueType": "msg"
            },
            {
                "property": "Data",
                "value": "payload[1].date",
                "valueType": "msg"
            },
            {
                "property": "Messaggio",
                "value": "payload[1].message",
                "valueType": "msg"
            }
        ],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 550,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "ed0f7069.d17d1",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "Terzultimo Evento Allarme",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "terzultimo evento"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": "mdi:security"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload[2].message",
        "stateType": "msg",
        "attributes": [
            {
                "property": "Sensore",
                "value": "payload[2].name",
                "valueType": "msg"
            },
            {
                "property": "Data",
                "value": "payload[2].date",
                "valueType": "msg"
            },
            {
                "property": "Messaggio",
                "value": "payload[2].message",
                "valueType": "msg"
            }
        ],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 550,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "3cddbafa.c09386",
        "type": "ialarm command",
        "z": "3782d2fb.6e5bde",
        "server": "617ddfd5.c639a",
        "x": 390,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "f1d2b640.0e55a8",
        "type": "mqtt in",
        "z": "3782d2fb.6e5bde",
        "name": "",
        "topic": "home/alarm/set",
        "qos": "2",
        "datatype": "auto",
        "broker": "48645aaf.219f74",
        "x": 120,
        "y": 760,
        "wires": [
            [
                "3cddbafa.c09386"
            ]
        ]
    },
    {
        "id": "a59050d1.98e55",
        "type": "mqtt out",
        "z": "3782d2fb.6e5bde",
        "name": "",
        "topic": "home/alarm/state",
        "qos": "",
        "retain": "",
        "broker": "48645aaf.219f74",
        "x": 570,
        "y": 300,
        "wires": []
    },
    {
        "id": "40dc0e29.fca95",
        "type": "function",
        "z": "3782d2fb.6e5bde",
        "name": "stato",
        "func": "msg.payload = msg.payload.status;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 380,
        "wires": [
            [
                "d5158660.de3ec8"
            ]
        ]
    },
    {
        "id": "d5158660.de3ec8",
        "type": "change",
        "z": "3782d2fb.6e5bde",
        "name": "Report Status",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "DISARMED",
                "fromt": "str",
                "to": "disarmed",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "ARMED_AWAY",
                "fromt": "str",
                "to": "armed_away",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "ARMED_HOME",
                "fromt": "str",
                "to": "armed_home",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 300,
        "wires": [
            [
                "a59050d1.98e55"
            ]
        ]
    },
    {
        "id": "f5c03cc0.1e3c7",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "batteria taverna 1",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "batteria taverna 1"
            },
            {
                "property": "device_class",
                "value": "battery"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[0].lowbat",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1190,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "4cb984d9.8ba2cc",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "batteria taverna 2",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "batteria taverna 2"
            },
            {
                "property": "device_class",
                "value": "battery"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[0].lowbat",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1190,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "767ea99e.981ba8",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "batteria lavanderia",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "batteria lavanderia"
            },
            {
                "property": "device_class",
                "value": "battery"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "true",
        "stateType": "bool",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1190,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "2603083a.626cf8",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "batteria garage",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "batteria garage"
            },
            {
                "property": "device_class",
                "value": "battery"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[3].lowbat",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1180,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "97f8798f.73e7b8",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "stato cucina",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "stato cucina"
            },
            {
                "property": "device_class",
                "value": "door"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[4].open",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1170,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "4c1035fc.8a28ec",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "batteria cucina",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "batteria cucina"
            },
            {
                "property": "device_class",
                "value": "battery"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[4].lowbat",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1180,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "71e96f54.90b41",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "stato salotto",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "stato salotto"
            },
            {
                "property": "device_class",
                "value": "door"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[5].open",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1170,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "27de6835.267a88",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "batteria salotto",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "batteria salotto"
            },
            {
                "property": "device_class",
                "value": "battery"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[5].lowbat",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1180,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "f78d1f43.7cd94",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "stato camera Alice",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "stato camera Alice"
            },
            {
                "property": "device_class",
                "value": "window"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[6].open",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1190,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "5a1bfb15.37ace4",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "batteria camera Alice",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "batteria camera Alice"
            },
            {
                "property": "device_class",
                "value": "battery"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[6].lowbat",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1200,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "bdcf3820.f54618",
        "type": "change",
        "z": "3782d2fb.6e5bde",
        "name": "zona8",
        "rules": [
            {
                "t": "change",
                "p": "msg.items.zones[7].open",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[7].open",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[7].lowbat",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[7].lowbat",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[7].ok",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[7].ok",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 1340,
        "wires": [
            [
                "52d1456a.b919ec",
                "68c76910.4a0048",
                "62f0f3c0.4820bc"
            ]
        ]
    },
    {
        "id": "52d1456a.b919ec",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "stato matrimoniale",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "stato matrimoniale"
            },
            {
                "property": "device_class",
                "value": "door"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[7].open",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1190,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "68c76910.4a0048",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "batteria matrimoniale",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "batteria matrimoniale"
            },
            {
                "property": "device_class",
                "value": "battery"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[7].lowbat",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1200,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "a0705735.2c5c28",
        "type": "change",
        "z": "3782d2fb.6e5bde",
        "name": "zona9",
        "rules": [
            {
                "t": "change",
                "p": "msg.items.zones[8].open",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[8].open",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[8].lowbat",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[8].lowbat",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[8].ok",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[8].ok",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 1520,
        "wires": [
            [
                "49088704.36b208",
                "640ba91b.820f58",
                "5f548cd9.f7fba4"
            ]
        ]
    },
    {
        "id": "49088704.36b208",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "stato bagno piccolo",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "stato bagno piccolo"
            },
            {
                "property": "device_class",
                "value": "window"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[8].open",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1190,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "640ba91b.820f58",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "batteria bagno piccolo",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "batteria bagno piccolo"
            },
            {
                "property": "device_class",
                "value": "battery"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[8].lowbat",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1200,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "b8b57d2b.b3d5d",
        "type": "change",
        "z": "3782d2fb.6e5bde",
        "name": "zona10",
        "rules": [
            {
                "t": "change",
                "p": "msg.items.zones[9].open",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[9].open",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[9].lowbat",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[9].lowbat",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[9].ok",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[9].ok",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 1700,
        "wires": [
            [
                "25bf8df2.dcafd2",
                "cf09a8a4.372438",
                "216bf83a.7dc738"
            ]
        ]
    },
    {
        "id": "25bf8df2.dcafd2",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "stato camera Matteo",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "stato camera Matteo"
            },
            {
                "property": "device_class",
                "value": "window"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[9].open",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1200,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "cf09a8a4.372438",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "batteria camera Matteo",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "batteria camera Matteo"
            },
            {
                "property": "device_class",
                "value": "battery"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[9].lowbat",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1210,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "3978bd3.4020442",
        "type": "change",
        "z": "3782d2fb.6e5bde",
        "name": "zona11",
        "rules": [
            {
                "t": "change",
                "p": "msg.items.zones[10].open",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[10].open",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[10].lowbat",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[10].lowbat",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[10].ok",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[10].ok",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 1880,
        "wires": [
            [
                "53dd773f.328688",
                "13c66488.059a4b",
                "229eb8ba.2147d8"
            ]
        ]
    },
    {
        "id": "53dd773f.328688",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "stato bagno grande",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "stato bagno grande"
            },
            {
                "property": "device_class",
                "value": "window"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[10].open",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1190,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "13c66488.059a4b",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "batteria bagno grande",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "batteria bagno grande"
            },
            {
                "property": "device_class",
                "value": "battery"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[10].lowbat",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1200,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "e05b1140.9fead",
        "type": "change",
        "z": "3782d2fb.6e5bde",
        "name": "zona12",
        "rules": [
            {
                "t": "change",
                "p": "msg.items.zones[11].open",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[11].open",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[11].lowbat",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[11].lowbat",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[11].ok",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[11].ok",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 2060,
        "wires": [
            [
                "8b35b0f1.c643d",
                "e48f351f.deb338",
                "de008.f134fff8"
            ]
        ]
    },
    {
        "id": "8b35b0f1.c643d",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "stato vano scale",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "stato vano scale"
            },
            {
                "property": "device_class",
                "value": "vibration"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[11].open",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1180,
        "y": 2000,
        "wires": [
            []
        ]
    },
    {
        "id": "e48f351f.deb338",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "batteria vano scale",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "batteria vano scale"
            },
            {
                "property": "device_class",
                "value": "battery"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[11].lowbat",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1190,
        "y": 2060,
        "wires": [
            []
        ]
    },
    {
        "id": "9bca4be9.462978",
        "type": "change",
        "z": "3782d2fb.6e5bde",
        "name": "zona13",
        "rules": [
            {
                "t": "change",
                "p": "msg.items.zones[12].open",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[12].open",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[12].lowbat",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[12].lowbat",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[12].ok",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[12].ok",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 2240,
        "wires": [
            [
                "7aae4c0c.5b6ca4",
                "3fa699be.463746",
                "266d1a0a.d63ad6"
            ]
        ]
    },
    {
        "id": "7aae4c0c.5b6ca4",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "stato ingresso",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "stato ingresso"
            },
            {
                "property": "device_class",
                "value": "motion"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[12].open",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1180,
        "y": 2180,
        "wires": [
            []
        ]
    },
    {
        "id": "3fa699be.463746",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "batteria ingresso",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "batteria ingresso"
            },
            {
                "property": "device_class",
                "value": "battery"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[12].lowbat",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1190,
        "y": 2240,
        "wires": [
            []
        ]
    },
    {
        "id": "3d4dc8f1.4d31c8",
        "type": "change",
        "z": "3782d2fb.6e5bde",
        "name": "zona14",
        "rules": [
            {
                "t": "change",
                "p": "msg.items.zones[13].open",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[13].open",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[13].lowbat",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[13].lowbat",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[13].ok",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "msg.items.zones[13].ok",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 2420,
        "wires": [
            [
                "f73435eb.c79778",
                "d7eec23b.56c58"
            ]
        ]
    },
    {
        "id": "f73435eb.c79778",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "stato sezionale",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "stato sezionale"
            },
            {
                "property": "device_class",
                "value": "garage_door"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[13].open",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1180,
        "y": 2360,
        "wires": [
            []
        ]
    },
    {
        "id": "d7eec23b.56c58",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "batteria sezionale",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "batteria sezionale"
            },
            {
                "property": "device_class",
                "value": "battery"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[13].lowbat",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1190,
        "y": 2420,
        "wires": [
            []
        ]
    },
    {
        "id": "3acde234.f33d8e",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "check taverna 1",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "check taverna 1"
            },
            {
                "property": "device_class",
                "value": "problem"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[0].ok",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1180,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "4bea914e.47a52",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "check garage",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "check garage"
            },
            {
                "property": "device_class",
                "value": "problem"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[3].ok",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1180,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "b50a2588.a5d2b8",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "check taverna 2",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "check taverna 2"
            },
            {
                "property": "device_class",
                "value": "problem"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[1].ok",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1180,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a14900bf.b24d4",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "check lavanderia",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "check lavanderia"
            },
            {
                "property": "device_class",
                "value": "problem"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[2].ok",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1190,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "f2c025cd.1355b8",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "check cucina",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "check cucina"
            },
            {
                "property": "device_class",
                "value": "problem"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[4].ok",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1170,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "ec2aeb7f.5ba4f8",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "check salotto",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "check salotto"
            },
            {
                "property": "device_class",
                "value": "problem"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[5].ok",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1170,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "510fcea0.790ef",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "check camera Alice",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "check camera Alice"
            },
            {
                "property": "device_class",
                "value": "problem"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[6].ok",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1190,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "62f0f3c0.4820bc",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "check matrimoniale",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "check matrimoniale"
            },
            {
                "property": "device_class",
                "value": "problem"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[7].ok",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1190,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "5f548cd9.f7fba4",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "check bagno piccolo",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "check bagno piccolo"
            },
            {
                "property": "device_class",
                "value": "problem"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[8].ok",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1200,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "216bf83a.7dc738",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "check camera Matteo",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "check camera Matteo"
            },
            {
                "property": "device_class",
                "value": "problem"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[9].ok",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1200,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "229eb8ba.2147d8",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "check bagno grande",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "check bagno grande"
            },
            {
                "property": "device_class",
                "value": "problem"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[10].ok",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1200,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "de008.f134fff8",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "check vano scale",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "check vano scale"
            },
            {
                "property": "device_class",
                "value": "problem"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[11].open",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1190,
        "y": 2120,
        "wires": [
            []
        ]
    },
    {
        "id": "266d1a0a.d63ad6",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "check ingresso",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "check ingresso"
            },
            {
                "property": "device_class",
                "value": "problem"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[12].ok",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1180,
        "y": 2300,
        "wires": [
            []
        ]
    },
    {
        "id": "a4a8b505.ec0fa8",
        "type": "ha-entity",
        "z": "3782d2fb.6e5bde",
        "name": "check sezionale",
        "server": "e5350be9.c2a088",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "binary_sensor",
        "config": [
            {
                "property": "name",
                "value": "check sezionale"
            },
            {
                "property": "device_class",
                "value": "problem"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "msg.items.zones[13].ok",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 1190,
        "y": 2480,
        "wires": [
            []
        ]
    },
    {
        "id": "d9f79bf1.a7a418",
        "type": "comment",
        "z": "3782d2fb.6e5bde",
        "name": "inserire qui i dati della centrale iAlarm",
        "info": "",
        "x": 210,
        "y": 400,
        "wires": []
    },
    {
        "id": "5594b2f4.5a736c",
        "type": "comment",
        "z": "3782d2fb.6e5bde",
        "name": "inserire qui i dati del broker MQTT ed il command_topic",
        "info": "",
        "x": 680,
        "y": 320,
        "wires": []
    },
    {
        "id": "617ddfd5.c639a",
        "type": "ialarm-server",
        "host": "",
        "port": "80",
        "username": "",
        "password": "",
        "zones": "14"
    },
    {
        "id": "e5350be9.c2a088",
        "type": "server",
        "name": "homeassistant",
        "legacy": true,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    },
    {
        "id": "48645aaf.219f74",
        "type": "mqtt-broker",
        "name": "",
        "broker": "",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]